body{
	background-color: #f4f4f4; /*light grey*/
	color: #555; /*medium dark grey*/

	font-family: Helvetica, sans-serif;
	font-size: 16px;


	line-height: 1.6em;
	margin: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;  /*to avoid scollbar of each container if size get fixed later*/
}

#main-header {
	background-color: coral;
	color: #fff;  /* white*/
}

#navbar {
	background-color: #333;  /*dark grey*/
	color: #fff;
}

#navbar ul{
	padding: 0;
	list-style: none;

}

#navbar li{
	display: inline;
}

#navbar a{
	color: #fff;
	text-decoration: none;
	padding-right: 15px;
}

#showcase{
	background-image: url("images/showcase.jpg");
	background-size: cover;
	background-position: center right;
	min-height:300px;
	text-align: center;
	margin-bottom: 30px;
}

#showcase h1{
	color: #fff;
	font-size: 50px;
	line-height: 1.6em;
	padding-top: 30px;
}

#main{
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}

#sidebar {
	background-color: #333;
	color: #fff;
	float: right;
	width: 30%;
	padding: 0 10px;
	box-sizing: border-box;

}

#main-footer{
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

.clr{
	clear: float;
}

@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;
	}
	#sidebar{
		width: 100%;
		float: none;
	}
}
